.HistoryContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    clear: both;
    width: 100%;
}

.HistoryColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Column h2 {
    margin-bottom: 2vh;
}

.HistoryTable {
    width: 40%;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
}

.HistoryTableInfo {
    background: linear-gradient(90deg, rgb(123, 93, 255), rgb(176, 159, 255));
}

.HistoryTableInfo tr {
    height: 30px;
}

.HistoryTableInfo tr th {
    color: #ffffff;
    padding: 10px;
}

.HistoryTableItems tr{
    height: 30px;
    color: #ffffff;
    transition: 0.2s;
}

.HistoryTableItems tr:nth-of-type(even){
    background-color: #f3f3f38c;
    padding: 10px;
    color: #ffffff;
}

.HistoryTableItems tr:hover{
    background-color: #5e5e5e33;
    padding: 10px;
    color: #000000;
}

.HistoryTableItems tr td {
    padding: 10px;
}

.HistoryModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 38vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.HistoryModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: max-content;
}

.HistoryClose {
    font-size: 31px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 0, 0);
}

.HistoryClose:hover, .HistoryClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.HistoryModalContentHead {
    background: linear-gradient(90deg, rgb(123, 93, 255), rgb(176, 159, 255));
}

.HistoryModalContentHead tr {
    height: 30px;
}

.HistoryModalContentHead tr th {
    color: #ffffff;
    padding: 10px;
}

.HistoryModalContentItems tr {
    height: 50px;
    color: #ffffff;
    text-align: center;
    transition: 0.2s;
}

.HistoryModalContentItems tr:nth-of-type(even){
    background-color: #f3f3f3da;
    padding: 10px;
    color: #ffffff;
}

.HistoryItem {
    width: 100px;
}

.HistoryViewButton {
    align-items: center;
    background-color: rgb(123, 93, 255);
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-flex;
    font-weight: 600;
    min-height: 40px;
    min-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
}

.HistoryViewButton:hover {
    background-color: rgba(18, 62, 119, 0.788);
}