.Container {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    clear: both;
    width: 100%;
}

.Column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 9vh;
}

.Line {
    border-left: 1px rgba(77, 77, 77, 0.445) solid;
    height: 85vh;
}

input, select {
    font-size: 15px;
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px rgba(77, 77, 77, 0.445) solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 5px;
}

.ProductNameInput {
    width: 90%;
    margin: 20px;
}

.ProductAmountInput {
    width: 30%;
}

.AddProductButton {
    width: 90.6%;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(123, 93, 255);
    border-radius: 5px;
}

.ProductsDeleteButton {
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.ProductsItemsTable {
    border-collapse: collapse;
    border-left: 2px solid white;
    height: 10%;
}

.ProductsItemsTable th, .ProductsItemsTable td, .ProductsProductsItemsTable tr td {
    border-bottom: 1px solid rgba(77, 77, 77, 0.445);
    border-left: 1px solid rgba(77, 77, 77, 0.445);
    padding: 10px;
}

.inputWithButton {
    display: flex;
    align-items: center;
    height: 5vh;
}

.inputWithButton input {
    width: 40px;
    text-align: center;
}

.inputWithButton button {
    width: 100%;
    height: 55%;
    font-size: 15px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(255, 230, 0);
    border-radius: 5px;
}

.Product {
    width: 70vh;
    text-align: start;
}

.Others {
    width: 10vh;
    text-align: start;
}

.ID {
    width: 3vh;
    text-align: start;
}