.ProductsItemsTable {
    border-collapse: collapse;
    border-left: 2px solid white;
    height: 10%;
}

.ProductsItemsTable th, .ProductsItemsTable td, .ProductsProductsItemsTable tr td {
    border-bottom: 1px solid rgba(77, 77, 77, 0.445);
    border-left: 1px solid rgba(77, 77, 77, 0.445);
    padding: 10px;
}

.InputWithButton {
    display: flex;
    align-items: center;
    height: 5vh;
}

.InputWithButton input {
    width: 40px;
    text-align: center;
    align-items: center;
    border: 1px rgb(221, 188, 0) solid;
    border-radius: 100px 0 0 100px;
    font-weight: 600;
    min-height: 38px;
    min-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}

.InputWithButton button {
    align-items: center;
    background-color: rgb(221, 188, 0);
    border: 0;
    border-radius: 0 100px 100px 0;
    color: #ffffff;
    display: inline-flex;
    font-weight: 600;
    min-height: 40px;
    min-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
}

.InputWithButton button:hover {
    background-color: rgba(143, 117, 0, 0.603);
}