.ProductsTable {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
}

.CategoriesProductsTableThead {
    background: linear-gradient(90deg, rgb(123, 93, 255), rgb(176, 159, 255));
}

.CategoriesProductsTableThead tr th {
    height: 5vh;
    color: #ffffff;
}

.CategoriesProductsTableTbody {
    border-radius: 0 0 10px 10px;
    background: #ffffff;
}

.CategoriesProductsTableTbody tr td {
    height: 5vh;
}

.CategoriesProductsTableTbody tr:nth-of-type(even){
    background-color: #f3f3f3da;
    padding: 10px;
    color: #ffffff;
    transition: 0.2s;
    align-items: center;
}

.CategoriesProductsTableTbody tr:hover{
    background-color: #5e5e5e33;
}

.CategoryNameInput, .CategoryTaxInput {
    font-size: 15px;
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px rgba(77, 77, 77, 0.445) solid;
    border-radius: 100px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 5px;
}