.CategoryNameInput, .CategoryTaxInput {
    font-size: 15px;
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px rgba(77, 77, 77, 0.445) solid;
    border-radius: 100px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 5px;
}

.CategoriesTable {
    border-collapse: collapse;
    border-left: 2px solid white;
    height: 10%;
}

.CategoriesTableThead tr th, .CategoriesTableThead td, .CategoriesTableTbody tr td {
    border-bottom: 1px solid rgba(77, 77, 77, 0.445);
    border-left: 1px solid rgba(77, 77, 77, 0.445);
    padding: 10px;
}