/* Geral */

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    cursor: pointer;
}

/* NavBar */

.NavBar {
    display: flex;
    background-color: rgb(123, 93, 255);
    height: 70px;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
}

.NavBarLinks {
    display: inline;
}

.NavBarLink {
    display: inline;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}

.Logo {
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    padding: 30px;
}

.NavBarLink a {
    text-decoration: none;
    transition: 0.25s;
}

.NavBarLink a:hover {
    color: white;
}

/* Products */

.Container {
    display: flex;
    justify-content: center;
    text-align: center;
    clear: both;
    width: 100%;
    margin-top: 10vh;
}

.Column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.Line {
    border-left: 1px rgba(77, 77, 77, 0.445) solid;
    height: 85vh;
}

input, select {
    font-size: 15px;
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px rgba(77, 77, 77, 0.445) solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 5px;
}

.ProductNameInput {
    width: 90%;
    margin: 20px;
}

.ProductAmountInput {
    width: 30%;
}

.ProductsButton {
    width: 90.6%;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(123, 93, 255);
    border-radius: 5px;
}

.ProductsDeleteButton {
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.ProductsAddButton {
    width: 50%;
    font-size: 15px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(43, 255, 0);
    border-radius: 5px;
}

.ProductsTable, .HistoryTable {
    border-collapse: collapse;
    border-left: 2px solid white;
    height: 10%;
}

.ProductsTableItems th, .ProductsTableItems td, .ProductsTableCategoryItems td, .CartProductsItems td, .HistoryTable th, .HistoryTableItems td{
    border-bottom: 1px solid rgba(77, 77, 77, 0.445);
    border-left: 1px solid rgba(77, 77, 77, 0.445);
    padding: 10px;
}

.inputWithButton {
    display: flex;
    align-items: center;
    height: 5vh;
}

.inputWithButton input {
    width: 40px;
    text-align: center;
}

.inputWithButton button {
    width: 100%;
    height: 55%;
    font-size: 15px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(255, 230, 0);
    border-radius: 5px;
}

.Product {
    width: 70vh;
    text-align: start;
}

.Others {
    width: 10vh;
    text-align: start;
}

.ID {
    width: 3vh;
    text-align: start;
}

.Payment {
    position: fixed;
    width: 25%;
    right: 0;
    bottom: 0;
    padding-bottom: 30px;
}

.Payment table {
    margin-left: 55%;
}

.PaymentButtons {
    display: inline;
}

.PaymentButtonCancel {
    width: 40%;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 40px;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
}

.PaymentButtonFinish {
    width: 40%;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 40px;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(123, 93, 255);
    border-radius: 5px;
}

/* Categories */

.CategoryColumn {
    display: inline;
    text-align: center;
}

.CategoryNameInput {
    width: 41.5%;
    margin: 20px;
}

.CategoryTaxInput {
    width: 41.5%;
    margin: 20px;
}

/* History */

.ContainerHistory {
    display: grid;
    justify-content: center;
    text-align: center;
    clear: both;
    width: 100%;
    margin-top: 10vh;
}

.ContainerHistory h2 {
    margin-bottom: 2vh;
}

.HistoryTable {
    border: 2px rgba(77, 77, 77, 0.445) solid;
    border-radius: 5px;
}

.HistoryTableItems tr {
    height: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-tbody td {
    border-bottom: 1px solid rgba(77, 77, 77, 0.445);
    border-left: 1px solid rgba(77, 77, 77, 0.445);
    padding: 20px;
}

/* Home */

.ProductInput {
    width: 31.2%;
    font-size: 15px;
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px rgba(77, 77, 77, 0.445) solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 5px;
}

.AmountInput, .TaxInput, .PriceInput {
    width: 30%;
    font-size: 15px;
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px rgba(77, 77, 77, 0.445) solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 5px;
}

.PurchaseCompleted {
    position: absolute;
    text-align: center;
    margin-top: 23vh;
    margin-left: 15vw;
    color: green;
}

.quantity {
    width: 35px;
    text-align: center;
    border: 0;
  }
  
.quantity[type=number]::-webkit-inner-spin-button, .quantity[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
  
.number-input {
    display: flex;
}

.number-input button {
    font-weight: bolder;
    outline:none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* Purchase */

.ConfirmationPayment {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    padding: 100px;
    background-color: rgb(123, 93, 255);
    border-radius: 10px;
}

.Transparent {
    filter: blur(3px);
}

.table-cancel-btn {
    width: 30%;
    font-size: 25px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.table-finish-btn {
    width: 30%;
    font-size: 25px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(43, 255, 0);
    border-radius: 5px;
}
