.ProductsTable {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
}

.HomeProductsTableThead {
    background: linear-gradient(90deg, rgb(123, 93, 255), rgb(176, 159, 255));
}

.HomeProductsTableThead tr th {
    height: 5vh;
    color: #ffffff;
}

.HomeProductsTableTbody {
    border-radius: 0 0 10px 10px;
    background: #ffffff;
}

.HomeProductsTableTbody tr td {
    height: 5vh;
}

.HomeProductsTableTbody tr:nth-of-type(even){
    background-color: #f3f3f3da;
    padding: 10px;
    color: #ffffff;
    transition: 0.2s;
    align-items: center;
}

.HomeProductsTableTbody tr:hover{
    background-color: #5e5e5e33;
}

.Payment {
    position: fixed;
    display: grid;
    width: 30%;
    right: 0;
    bottom: 0;
    padding-bottom: 4vh;
}

.PaymentTable {
    float: right;
    margin-left: 16vw;
}

.PaymentTablePurchase {
    float: left;
    margin-left: 5vw;
}

.Tax, .Total {
    float: left;
    margin-right: 2vw;
}

.PaymentButtonCancel {
    align-items: center;
    background-color: rgb(255, 0, 0);
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    min-height: 40px;
    min-width: 0px;
    padding-left: 15%;
    padding-right: 15%;
    transition: 0.2s;
}

.PaymentButtonCancel:hover {
    background-color: rgba(119, 18, 18, 0.788);
}

.PaymentButtonFinish {
    align-items: center;
    background-color: rgb(123, 93, 255);
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    min-height: 40px;
    min-width: 0px;
    padding-left: 15%;
    padding-right: 15%;
    transition: 0.2s;
}

.PaymentButtonFinish:hover {
    background-color: rgba(18, 62, 119, 0.788);
}

.quantity {
    width: 3rem;
    height: 5vh;
    text-align: center;
    border: 0;
  }
  
.quantity[type=number]::-webkit-inner-spin-button, .quantity[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.TableTheadInput {
    width: 15vh;
    text-align: center;
    padding-right: 30px;
}
  
.number-input {
    display: flex;
    align-items: center;
}

.number-input button {
    font-weight: bolder;
    outline:none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 5vh;
    cursor: pointer;
}

.ColumnFilter{
    filter: blur(3px);
}

.ConfirmationPayment {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    padding: 100px;
    background-color: rgb(123, 93, 255);
    border: 0;
    border-radius: 20px;
    color: #ffffff;
    transition: 0.2s;
}

.table-cancel-btn {
    width: 30%;
    font-size: 25px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    color: #ffffff;
    padding-left: 15%;
    padding-right: 30%;
    transition: 0.2s;
}

.table-finish-btn {
    width: 30%;
    font-size: 25px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(43, 255, 0);
    color: #ffffff;
    border-radius: 100px;
    padding-left: 15%;
    padding-right: 30%;
    transition: 0.2s;
}

.PaymentPurchase {
    position: fixed;
    width: 50%;
    right: 0;
    bottom: 0;
}

.PaymentPurchase table {
    margin-left: 55%;
}

.PaymentPurchaseButtons {
    display: inline;
}
