.ProductsTable {
    border-collapse: collapse;
    border-left: 2px solid white;
    height: 10%;
}

.ProductsTableItems th, .ProductsTableItems td, .HomeProductsItemsTable td, .CartProductsItems td{
    border-bottom: 1px solid rgba(77, 77, 77, 0.445);
    border-left: 1px solid rgba(77, 77, 77, 0.445);
    padding: 10px;
}

.Payment {
    position: fixed;
    width: 25%;
    right: 0;
    bottom: 0;
    padding-bottom: 30px;
}

.Payment table {
    margin-left: 55%;
}

.PaymentButtons {
    display: inline;
}

.PaymentButtonCancel {
    align-items: center;
    background-color: rgb(255, 0, 0);
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    min-height: 40px;
    min-width: 0px;
    padding-left: 15%;
    padding-right: 15%;
    transition: 0.2s;
}

.PaymentButtonCancel:hover {
    background-color: rgba(119, 18, 18, 0.788);
}

.PaymentButtonFinish {
    align-items: center;
    background-color: rgb(123, 93, 255);
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    min-height: 40px;
    min-width: 0px;
    padding-left: 15%;
    padding-right: 15%;
    transition: 0.2s;
}

.PaymentButtonFinish:hover {
    background-color: rgba(18, 62, 119, 0.788);
}

.quantity {
    width: 3rem;
    height: 2.5rem;
    text-align: center;
    border: 0;
  }
  
.quantity[type=number]::-webkit-inner-spin-button, .quantity[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
  
.number-input {
    display: flex;
}

.number-input button {
    font-weight: bolder;
    outline:none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.ColumnFilter{
    filter: blur(4px);
}

.ConfirmationPayment {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    padding: 100px;
    background-color: rgb(123, 93, 255);
    border: 0;
    border-radius: 20px;
    color: #ffffff;
    transition: 0.2s;
}

.table-cancel-btn {
    width: 30%;
    font-size: 25px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    color: #ffffff;
    padding-left: 15%;
    padding-right: 30%;
    transition: 0.2s;
}

.table-finish-btn {
    width: 30%;
    font-size: 25px;
    font-weight: bolder;
    border: 1px rgba(77, 77, 77, 0.445) solid;
    background-color: rgb(43, 255, 0);
    color: #ffffff;
    border-radius: 100px;
    padding-left: 15%;
    padding-right: 30%;
    transition: 0.2s;
}

.PaymentPurchase {
    position: fixed;
    width: 50%;
    right: 0;
    bottom: 0;
}

.PaymentPurchase table {
    margin-left: 55%;
}

.PaymentPurchaseButtons {
    display: inline;
}
